/*Hola profe de nuevo*/
p {
    
    color:blue;
}
p#prueba123 {
    color:darkblue;
}
body {
    background-color: beige;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}